CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
build
pack

src/libziparchive/cli-tests
src/libziparchive/testdata
src/zipalign/tests/data

**/*.zip
**/*.apk
